<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.amitkma.primeplayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".PrimePlayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.videos.VideosActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.videoplayer.VideoPlayerActivity"
            android:label="Prime Video"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".features.bookmarks.BookmarkActivity"
            android:label="@string/bookmarks" />
        <service android:name="com.github.amitkma.calculator.Calculator"
            android:label="Calculator"/>
        <service android:name="com.github.amitkma.dictionary.Dictionary"/>
    </application>

</manifest>